<body class="fondo1">

	<br>
	<h3 class="titulo" align="center"> Calificaciones de<%= @user.nombre%></h3>
	<br>
	<% if @user.grades.any? %>
	<table class="table table-striped table-bordered" style="width: 70% ; background-color: #ffa141" align="center">
		<tr>
			<th>
			  Calificacion
			</th>
			<th> Descripcion </th>
		</tr>

		<% @user.grades.each do |g| %>
			<tr>
				<td>
          <% if g.calificacion %>
					<%=g.user.grades.where(calificacion: true).size%> <i class="fa fa-thumbs-up"></i>
          <%else%>
					<%=g.user.grades.where(calificacion: false).size%> <i class="fa fa-thumbs-down"></i>
          <%end%>
				</td>
				<td> <%= g.descripcion %> </td>
			</tr>
		<% end %>
	</table>
	<%else%>
	<h4 class="blanco center">No posee calificaciones</h4>
	<%end%>
  <br>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 center">  <%= link_to "Regresar", :back, class:"btn btn-info btn-md"%>
</div>
</div>
</body>
