<body class="fondo1">
  <div class="formulario-margen">
    <h2 class="titulo">Calificar a <%= @user.nombre %> por la ayuda al favor<%= @favour.titulo%></h2>

    <% if @grade.errors.any? %>
    <div class="row">
    <div id="error_explanation">
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <ul>
          <% @grade.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
    <% end %>

    <%= form_for(@grade) do |f| %>
    <%= hidden_field_tag :favour_id, @favour.id %>
    <div class="formulario-reg">
      <div class="form-group input-group">
        <label class="sr-only">Descripcion</label>
        <span class="input-group-addon">
          <i class="fa fa-pencil"></i> <%= f.label "Descripcion" %>
        </span>
        <%= f.text_area :descripcion,
        placeholder: 'Ingrese una descripcion', class: "form-control" %>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="center col-md-6">
          <i class="fa fa-thumbs-up" style="size: 24px"></i>
        <%= f.radio_button :calificacion, :value=> true %>
          <i class="fa fa-thumbs-down" style="size: 24px"></i>
        <%= f.radio_button :calificacion, :value=> false %>
      </div>
    </div>
    <br>
      <div class="actions">
        <%= f.submit "Enviar", :class => 'btn btn-default actions'%>
      </div>
    </div>
    <% end %>
  </div>
</body>
