<!DOCTYPE html>

<body class="fondo1">

<script>
	setInterval(function(){
    	var $recarga = $("#recarga");
    	if($recarga.is(":hover")) {
       		$recarga.addClass('fa-spin');
    	} else {
       		$recarga.removeClass().addClass("fa fa-refresh");
    	}
}, 200);
</script>

	<div class="col-md-3">
		<div class="panel filtro" style="background-color: #F5F5F5">
			<label class="filtro-padding-laterales"> Criterio de busqueda <i class="fa fa-filter" aria-hidden="true"></i>  </label>
			<%= form_tag({controller: "favours", action: "index"}, method: "get")  do %>
				<div class="form-group filtro-padding-laterales">
					<%= text_field_tag :filtrado_descripcion, nil, class: 'form-control', placeholder: 'Descripcion', :value => params[:filtrado_descripcion] %>
				</div>
				<div class="form-group filtro-padding-laterales">
					<%= text_field_tag :filtrado_titulo, nil, class: 'form-control', placeholder: 'Titulo', :value => params[:filtrado_titulo] %>
				</div>
				<div class="form-group filtro-padding-laterales">
					<%= text_field_tag :filtrado_ciudad, nil, class: 'form-control', placeholder: 'Ciudad', :value => params[:filtrado_ciudad] %>
				</div>
				<div class="form-group filtro-padding-laterales">
					<%= text_field_tag :filtrado_provincia, nil, class: 'form-control', placeholder: 'Provincia', :value => params[:filtrado_provincia] %>
				</div>
				<label class="filtro-padding-laterales"> Criterio de orden <i class="fa fa-first-order" aria-hidden="true"></i>  </label>
				<div class="form-group filtro-padding-laterales">
					<%= select_tag :ordenado_por,  options_for_select(["Titulo A-Z", "Titulo Z-A","Ciudad A-Z", "Ciudad Z-A","Provincia A-Z", "Provincia Z-A", "Fecha decreciente", "Fecha creciente"]), :value => params[:ordenado_por], class: 'form-control' %>
				</div>

				<div class="form-group filtro-padding-laterales">
	   				<%= submit_tag "Filtrar", :class => 'btn btn-primary actions' %>
	   				<%= submit_tag "Limpiar filtro", :class => 'btn btn-warning actions', :type => 'reset'%>
    	          	<%= link_to favours_path, method: "get" do %>
                  		<i id="recarga" class="fa fa-refresh" aria-hidden="true"></i>
        	    	<% end %>
        		</div>
        	<% end %>
		</div>
  	</div>
  <div class="col-md-6">
    <div id="postlist">
    	<% if @favours.size == 0 %>
			<div class="panel filtro" style="background-color: #F5F5F5">
				<div style="align-content: center;">
					<h4 class="center">No hay favores</h4>
				</div>
		<% end %>
	</div>

      <%@favours.each do |favour|%>
      <div class="panel" style="background-color: #F5F5F5">
        <div class="panel-heading">
          <div class="text-center">
            <% if favour.image_url== "http://gdurl.com/GY5O" %>
            <div class="row">
              <div class="col-sm-1" style="padding: 0">
                <div style="padding-left: 18%">
                  <%=link_to image_tag(favour.image_url, class: "max-size"),favour%>
                </div>
              </div>
              <div class="col-sm-8">
                <h3 class="pull-left"><%=favour.titulo%></h3>
              </div>
              <div class="col-sm-3">
                <h4 class="pull-right">
                  <small><em><%=favour.created_at.strftime("%d/%m/%Y")%></em></small>
                  <br>
                  <span class="label label-default"><%=favour.ciudad%></span>
                </h4>
              </div>
            </div>
            <%else%>
            <div class="row">
              <div class="col-sm-9">
                <h3 class="pull-left"><%=favour.titulo%></h3>
              </div>
              <div class="col-sm-3">
                <h4 class="pull-right">
                  <small><em><%=favour.created_at.strftime("%d/%m/%Y")%></em></small>
                  <br>
                  <span class="label label-default"><%=favour.ciudad%></span>
                </h4>
              </div>
            </div>
            <%end%>
          </div>
        </div>

        <div class="panel-body">
          <% if favour.image_url != "http://gdurl.com/GY5O" %>
          <div class="thumbnail">
            <%=link_to image_tag(favour.image_url, class: "max-size"),favour%>
          </div>
          <%end%>
          <p>
            <%=truncate(favour.descripcion,length: 130)%>
            <% if favour.descripcion.length > 130 %>
            <%=link_to "Leer mas",favour%>
            <%end%>
          </p>
        </div>

        <div class="panel-footer">
          <div class="center">
          <%= link_to "Mostrar", favour, class: 'btn btn-primary btn-sm' %>
          <% if user_signed_in? && current_user.id != favour.user_id %>
          <%= link_to "Enviar Solicitud", new_request_path(:favour_id => favour.id), class: 'btn btn-success btn-sm' %>
          <% end %>
          <% if current_user == favour.user %>
          <%= link_to "Editar", edit_favour_path(favour) , class: 'btn btn-info btn-sm' %>
          <%= link_to "Eliminar",favour,method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "Estas seguro gaucho?" } %>
          <% end %>
        </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>
	<% if user_signed_in?%>
	<div class="col-md-3">
		<%= link_to "Si queres aca podes Crear un Favor!", new_favour_url , class: 'btn btn-success btn-sm' %>
	</div>
	<%end%>
</body>
