<!DOCTYPE html> 

<body class="fondo1">

<h1 class= "center"> Listado de Favores </h1>

<table class="table">

	<tr>
		<th class="center"> Titulo </th>
		<th class="center"> Imagen </th>
		<th class="center"> Ciudad </th>
    <th class="center"> Acciones </th>
	</tr>

	<% @favours.each do |favour| %>
		 <tr>
			<td class="center"> <h4><%= favour.titulo %></h4> </td>
			<td class="center"> <%= image_tag favour.image_url, class: "max-size" %> </td>
			<td class="center"> <%= favour.ciudad %> </td>
			<td class="center">
				 <%= link_to "Mostrar", favour, class: 'btn btn-primary btn-sm' %>
				 <% if user_signed_in? %>
				 <%= link_to "Enviar Solicitud", requests_solicitar_path, class: 'btn btn-success btn-sm' %>
				 <% end %>
				 <% if current_user == favour.user %>
			 	 <%= link_to "Editar", edit_favour_path(favour) , class: 'btn btn-info btn-sm' %> 
				 <% end %>
			</td>
		</tr> 
	<% end %>

	<% if @favours.size == 0 %>
		<tr> <td colspan="4"> No hay favores </td> </tr>
	<% end %>

</table>
</body>