<div class="container">
  <div class="col-md-4">
    <h1> <%= @favour.titulo %> </h1>
    <h4> Fecha: <%= @favour.fecha %> </h4>
    <h4> Provincia: <%= @favour.provincia %>. Ciudad: <%= @favour.ciudad %> </h4>
    <h4> Publicado por: <%= @favour.user.nombre %> <%= @favour.user.apellido %> </h4>
    <% if user_signed_in? && current_user.id != @favour.user.id %>
    <%= link_to "Enviar Solicitud", requests_solicitar_path, class: 'btn btn-success btn-sm' %>
    <%end%>
    <% if current_user == @favour.user %>
      <%= link_to "Editar", edit_favour_path(@favour) , class: 'btn btn-info btn-sm' %>
      <% if @favour.aceptado==false %>
        <%= link_to "Eliminar",@favour,method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "Estas seguro gaucho?" } %>
      <%end%>
    <% end %> </div>
    <div class="col-md-8">
      <%= image_tag @favour.image_url, class: "image-size" %></br> </div>
      <p class="text-align"> <%= simple_format(@favour.descripcion) %> </p>
      <h3> Comentarios </h3>
      <div> <% @favour.comments.each do |c| %>
        <lu><h4><%= c.comentario  %>
          <li> <%= c.respuesta %> </li> </h4></lu>
          <% end %> </div>
        </div>

        <!-- TODO agregar calificacion y comentarios con su respuesta si la hay -->
