<!DOCTYPE html>
<html>
<head>
  <title>Repuperar contraseña</title>
  <link rel="stylesheet" type="text/css" href="aplication.scss">
  <link rel="stylesheet" href="assets/stylesheets/devise.css">
  <link rel="javascripts" href="assets/stylesheets/application.js">

</head>
<body class="fondo-llave">

	<div class="formulario-margen">
		<h2 style="color: white">Ahora podes cambiar la contraseña</h2>
		<br>
		
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="formulario-reg">
			  <%= f.hidden_field :reset_password_token %>

				<div class="form-group input-group">
					<label class="sr-only">Contraseña</label>
					<span class="input-group-addon">
						<i class="fa fa-key"></i> <%= f.label :password, 'Contraseña' %>
					</span>
					<%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: '7 caracteres como minimo', class: 'form-control' %>
				</div>

				<div class="form-group input-group">
					<label class="sr-only">Confirmar contraseña</label>
					<span class="input-group-addon">
						<i class="fa fa-key"></i> <%= f.label :password_confirmation, "Repetir" %>
					</span>
					<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirmar contraseña', class: 'form-control'%>
				</div>

				<div class="actions">
					<%= f.submit "Cambiar mi contraseña", :class => 'btn btn-default actions'%>
				</div>
			</div>
		<% end %>
<% 
=begin %>
		<%= render "devise/shared/links" %>
<% 
=end %>
</div>

</body>
</html>