<!DOCTYPE html>
<html>
<html>
  <title>Repuperar contraseña</title>
  <link rel="stylesheet" type="text/css" href="aplication.scss">
  <link rel="stylesheet" href="assets/stylesheets/devise.css">
  <link rel="javascripts" href="assets/stylesheets/application.js">

</head>
<body id="fondo2">

	<div class="formulario-margen">
		<h3>Olvidaste la contraseña?</h3>
		<p> Ingresa el mail que usas para logearte y recibiras un correo para repuperar la contraseña. Ese correo tendra un link que direccionará a nuestro sitio en el cual podrás recuperar tu contraseña.</p>
		
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  		<%= devise_error_messages! %>

  			<div class="formulario-reg">
				<div class="form-group input-group">
					<label class="sr-only">Email</label>
					<span class="input-group-addon">
						<i class="fa fa-envelope"></i> <%= f.label "Email" %>
					</span>
					<%= f.email_field :email, autofocus: true, class: 'form-control' %>
				</div>

				<div class="actions">
					<%= f.submit "Enviame el correo", :class => 'btn btn-default actions'%>
				</div>
			</div>
		<% end %>
	</div>

</body>
</html>