<body class="fondo1">
<h1 class="titulo center">Analisis de pagos </h1>
<div class="formulario-margen">
	<h3 class="blanco">Elija dos fechas</h3>

	<%= form_tag({controller: "purchases", action: "analisis"}, method: "get")  do %>
		<div class="formulario-reg">
			<div class="form-group input-group">
				<label class="sr-only">Fecha inicial</label>
				<span class="input-group-addon">
					<i class="fa fa-calendar-plus-o"></i> <%= label_tag "Fecha inicial" %>
				</span>
				<%= date_field_tag :fecha_inicial, nil, required: true, :value => params[:fecha_inicial], class: "form-control" %>
			</div>
			<div class="form-group input-group">
				<label class="sr-only">Fecha final</label>
				<span class="input-group-addon">
					<i class="fa fa-calendar-plus-o"></i> <%= label_tag "Fecha final" %>
				</span>
	  			<%= date_field_tag :fecha_final, nil, required: true, :value => params[:fecha_final], class: "form-control" %>
			</div>
			
			<div class="actions">
				<%= submit_tag "Mostrar", :class => 'btn btn-default actions'%>
				<%= link_to favours_path, method: "get" do %>
					<i id="recarga" class="fa fa-refresh" aria-hidden="true"></i>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<br>
<h3 class="center blanco"> Ganancia total entre los dias: <%= @ganancia %> </h3>
<% unless flash.any? %>
<div class="formulario-margen", style="background-color: white; padding: 20px">
	<%= area_chart @compras,colors: ["#FFB047"] %>
</div>
<% end %>
<br>
<br>
</body>

