<!DOCTYPE html>
<html>
<head>
  <title>Nueva compra</title>
  <link rel="stylesheet" type="text/css" href="aplication.scss">
   <link rel="stylesheet" type="text/css" href="purchases.scss">
  <link rel="javascripts" href="assets/stylesheets/application.js">
</head>
<body class="fondo1">

	<script>
		$(document).ready(function() {
			function actualizarPrecio(){
				var puntos = parseFloat($("#puntos").val());
				var total=puntos * <%= Purchase::PRECIO_POR_PUNTO %>;
				//$("#total").val(puntos * <%= Purchase::PRECIO_POR_PUNTO %>);
				document.getElementById("total").value=total;
			}
			$(document).on("change, keyup", "#puntos", actualizarPrecio);
		});	
	</script>

	<div class="formulario-margen">
		<h3 class="titulo">Nueva compra de puntos</h3>
		<%= @NEW %>
		<% if @purchase.errors.any? %>
			<div id="error_explanation">
  				<div class="alert alert-danger alert-dismissable">
    				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    				<ul>
      					<% @purchase.errors.full_messages.each do |msg| %>
        					<li><%= msg %></li>
      					<% end %>
    				</ul>
  				</div>
			</div>
		<% end %>

		<%= form_for(@purchase) do |f| %>
			<div class="formulario-reg">
				<div class="form-group input-group">
					<label class="sr-only">Cantidad de puntos</label>
					<span class="input-group-addon">
						<i class="fa fa-hashtag"></i> <%= f.label "Puntos" %>
					</span>
					<%= f.text_field :puntos, required: true, value: "", id: "puntos",  placeholder: 'Ingrese los cantidad a comprar', class: "form-control" %>
				</div>

				<div class="form-group input-group">
					<label class="sr-only">Total</label>
					<span class="input-group-addon">
						<%= f.label "Total" %> <i class="fa fa-usd"></i>
					</span>
					<%= f.number_field :total, id: "total", class: "form-control", disabled: true %> <!-- Despues de realiza la asignacion en realidad no gurada el valor -->
				</div>

				<h4 class="titulo">
					Datos de tarjeta  
					<%= link_to new_purchases_path do %>
						<i class="fa fa-refresh" aria-hidden="true"></i>
					<% end %>
				</h4>
					<div class="form-group input-group">
						<label class="sr-only">Tarjeta Apellido</label>
						<span class="input-group-addon">
							<i class="fa fa-credit-card"></i> <strong>Apellido</strong>
						</span>
						<input class="form-control" value='<%= @userApellido %>' type="text" disabled>
					</div>

					<div class="form-group input-group">
						<label class="sr-only">Tarjeta Nombre</label>
						<span class="input-group-addon">
							<i class="fa fa-credit-card"></i> <strong>Nombre</strong>
						</span>
						<input class="form-control" value='<%= @userNombre %>' type="text" disabled>
					</div>

					<div class="form-group input-group">
						<label class="sr-only">Tarjeta Número</label>
						<span class="input-group-addon">
							<i class="fa fa-credit-card"></i> <strong>Número</strong>
						</span>
						<input class="form-control" value='<%= @userNumero %>' type="text" disabled>
					</div>

					<div class="form-group input-group">
						<label class="sr-only">Tarjeta Pin</label>
						<span class="input-group-addon">
							<i class="fa fa-credit-card"></i> <strong>Pin</strong>
						</span>
						<input class="form-control" value='<%= @userPin %>' type="text" disabled>
					</div>


					<div class="form-group input-group">
						<label class="sr-only">Tarjeta Caducidad</label>
						<span class="input-group-addon">
							<i class="fa fa-credit-card"></i> <strong>Caducidad</strong>
						</span>
						<input class="form-control" value='<%= @userCadu %>' type="text" disabled>
					</div>
		
				<div class="actions">
					<%= link_to "Actualzar tarjeta",  edit_user_registration_path, class: 'btn btn-default btm-sm' %>
					<%= f.submit "Comprar", :class => 'btn btn-success actions'%>
				</div>
			</div>
		<% end %>
	</div>

</body>
</html>

