<!DOCTYPE html>
<html>
<head>
  <title>Nueva compra</title>
  <link rel="stylesheet" type="text/css" href="aplication.scss">
   <link rel="stylesheet" type="text/css" href="purchases.scss">
  <link rel="javascripts" href="assets/stylesheets/application.js">
</head>
<body class="fondo1">

	<script>
		$(document).ready(function() {
			function actualizarPrecio(){
				var puntos = parseFloat($("#puntos").val());
				var total=puntos * <%= Purchase::PRECIO_POR_PUNTO %>;
				//$("#total").val(puntos * <%= Purchase::PRECIO_POR_PUNTO %>);
				document.getElementById("total").value=total;
			}
			$(document).on("change, keyup", "#puntos", actualizarPrecio);
		});
	</script>


		<%= @NEW %>
		<% if current_user.errors.any? %>
			<div id="error_explanation">
  				<div class="alert alert-danger alert-dismissable">
    				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    				<ul>
      					<% current_user.errors.full_messages.each do |msg| %>
        					<li><%= msg %></li>
      					<% end %>
    				</ul>
  				</div>
			</div>
		<% end %>
		<% if @purchase.errors.any? %>
			<div id="error_explanation">
  				<div class="alert alert-danger alert-dismissable">
    				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    				<ul>
      					<% @purchase.errors.full_messages.each do |msg| %>
        					<li><%= msg %></li>
      					<% end %>
    				</ul>
  				</div>
			</div>
		<% end %>


	<div class="formulario-margen">
	
			<%= form_for current_user, url: save_card_user_path(current_user)  do |f| %>
				<h4 class="titulo">Datos de tarjeta</h4>
				<div class="formulario-reg">
					<div class="form-group input-group">
						<label class="sr-only">Tarjeta Apellido</label>
						<span class="input-group-addon">
							<i class="fa fa-credit-card"></i> <strong>Apellido</strong>
						</span>
						<%= f.text_field :tc_apellido,required: true, class: 'form-control tarjeta' %>
					</div>
					<div class="form-group input-group">
						<label class="sr-only">Tarjeta Nombre</label>
						<span class="input-group-addon">
							<i class="fa fa-credit-card"></i> <strong>Nombre</strong>
						</span>
						<%= f.text_field :tc_nombre,required: true, class: 'form-control tarjeta' %>
					</div>
					<div class="form-group input-group">
						<label class="sr-only">Tarjeta Número</label>
						<span class="input-group-addon">
							<i class="fa fa-credit-card"></i> <strong>Número</strong>
						</span>
						<%= f.text_field :tc_numero,required: true, class: 'form-control tarjeta' %>
					</div>
					<div class="form-group input-group">
						<label class="sr-only">Tarjeta Pin</label>
						<span class="input-group-addon">
							<i class="fa fa-credit-card"></i> <strong>Pin</strong>
						</span>
						<%= f.text_field :tc_pin,required: true, class: 'form-control tarjeta' %>
					</div>
					<div class="form-group input-group">
						<label class="sr-only">Tarjeta Caducidad</label>
						<span class="input-group-addon">
							<i class="fa fa-credit-card"></i> <strong>Caducidad</strong>
						</span>
						<%= f.date_field :tc_caducidad,required: true, class: 'form-control tarjeta' %>
					</div>

					<div class="form-group filtro-padding-laterales">
		   				<%= f.submit "Actualizar Datos", :class => 'btn btn-primary btn-sm' %>
		    		</div>
		    	</div>
			<% end %>
			
		<%= form_for(@purchase) do |f| %>
		<h3 class="titulo">Nueva compra de puntos</h3>
			<p style="color: white">Ante algun cambio de la tarjeta, primero actualizar los datos.</p>
			<div class="formulario-reg">
				<div class="form-group input-group">
					<label class="sr-only">Cantidad de puntos</label>
					<span class="input-group-addon">
						<i class="fa fa-hashtag"></i> <%= f.label "Puntos" %>
					</span>
					<%= f.text_field :puntos, required: true, value: "", id: "puntos",  placeholder: 'Ingrese los cantidad a comprar', class: "form-control" %>
				</div>

				<div class="form-group input-group">
					<label class="sr-only">Total</label>
					<span class="input-group-addon">
						<%= f.label "Total" %> <i class="fa fa-usd"></i>
					</span>
					<%= f.number_field :total, id: "total", class: "form-control", disabled: true %> <!-- Despues de realiza la asignacion en realidad no gurada el valor -->
				</div>

				<div class="actions">
					<%= f.submit "Comprar", :class => 'btn btn-success actions'%>
				</div>
			</div>
		<% end %>
		
					
	</div>
	<br>
	<br>
	<br>
	<br>

</body>
</html>
