<!DOCTYPE html>
<html>
<head>
  <title>Compras totales</title>
  <link rel="stylesheet" type="text/css" href="aplication.scss">
   <link rel="stylesheet" type="text/css" href="purchases.scss">
  <link rel="javascripts" href="assets/stylesheets/application.js">
</head>
<body class="fondo1">

	<br>
	<h3 class="titulo" align="center"> Todas las compras realizadas por usted </h3>
	<div align="center"><%= link_to "Comprar más puntos", new_purchases_path, class: 'btn btn-success btm-sm' %></div>
	<br>
	<table class="table table-striped table-bordered" style="width: 70% ; background-color: #ffa141" align="center">
		<tr>
			<th> Fecha
				<% if @sentido == "desc-c" %>
					<%= link_to raw("<span class='fa fa-sort-numeric-asc'></span>"), purchases_path(sort: "created_at", sentido: "asc-c") %>
				<% else %>
					<%= link_to raw("<span class='fa fa-sort-numeric-desc'></span>"), purchases_path(sort: "created_at", sentido: "desc-c") %>
				<% end %>
			</th>
			<th> Cantidad 
				<% if @sentido == "desc-p" %>
					<%= link_to raw("<span class='fa fa-sort-numeric-asc'></span>"), purchases_path(sort: "puntos", sentido: "asc-p") %>
				<% else %>
					<%= link_to raw("<span class='fa fa-sort-numeric-desc'></span>"), purchases_path(sort: "puntos", sentido: "desc-p") %>
				<% end %>
			</th>
			<th> Costo en $ARS
				<% if @sentido == "desc-t" %> 
					<%= link_to raw("<span class='fa fa-sort-numeric-asc'></span>"), purchases_path(sort: "total", sentido: "asc-t") %>
				<% else %>
					<%= link_to raw("<span class='fa fa-sort-numeric-desc'></span>"), purchases_path(sort: "total", sentido: "desc-t") %>
				<% end %>
			</th>
		</tr>

		<% @purchases.each do |p| %>
			<tr>
				<td> <%= p.created_at %> </td>
				<td> <%= p.puntos %> </td>
				<td> <%= p.total %> </td>
			</tr>
		<% end %>
		<tr>
			<td> </td>
			<td> <strong>TOTAL</strong> <%= @puntosTotal %> </td>
			<td> <strong>TOTAL</strong> <%= @costoTotal %> </td>
		</tr>
	</table>

	<div align="center">
		<%= link_to "Eliminar historial", purchases_path, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "Estas seguro gaucho?" } %>
	</div>
</body>
</html>

