<body class="fondo1">

	<br>
	<h3 class="titulo" align="center"> Solicitudes para: <%= @favour.titulo %></h3>
	<br>
	<% if @requests.any? %>
	<table class="table table-striped table-bordered" style="width: 70% ; background-color: #ffa141" align="center">
		<tr>
			<th> Usuario
				<% if @sentido == "desc-u" %>
					<%= link_to raw("<span class='fa fa-sort-alpha-asc'></span>"), request_path(favour_id: @favour.id, sort: "usuario", sentido: "asc-u") %>
				<% else %>
					<%= link_to raw("<span class='fa fa-sort-alpha-desc'></span>"), request_path(favour_id: @favour.id, sort: "usuario", sentido: "desc-u") %>
				<% end %>
			</th>
			<th> Logro
			</th>
			<th>
				Calificacion
			</th>
			<th> Fecha
				<% if @sentido == "desc-f" %>
					<%= link_to raw("<span class='fa fa-sort-numeric-asc'></span>"), request_path(favour_id: @favour.id, sort: "fecha", sentido: "asc-f") %>
				<% else %>
					<%= link_to raw("<span class='fa fa-sort-numeric-desc'></span>"), request_path(favour_id: @favour.id, sort: "fecha", sentido: "desc-f") %>
				<% end %>
			</th>
			<th> Descripcion </th>
			<th> Acciones </th>
		</tr>

		<% @requests.each do |r| %>
			<tr>
				<td> <%= link_to r.user.nombre, user_calificaciones_path(user_id: r.user.id, back_url:"/requests/"+@favour.id.to_s+"?favour_id="+@favour.id.to_s)%> </td>
				<td> <%= r.user.achievement.titulo %> </td>
				<td>
					<%=r.user.grades.where(calificacion: true).size%> <i class="fa fa-thumbs-up"></i>
					<%=r.user.grades.where(calificacion: false).size%> <i class="fa fa-thumbs-down"></i>
				</td>
				<td> <%= r.fecha %> </td>
				<td> <%= r.descripcion %> </td>
				<td >
					<%= link_to "Aceptar", r, method: :patch, class: 'btn btn-success btn-sm', data: { confirm: "Estas seguro gaucho?" } %>
				</td>
			</tr>
		<% end %>
	</table>
	<%else%>
	<h4 class="blanco center">No posees solicitantes</h4>
	<%end%>
</body>
