<!DOCTYPE html>
<html>
<html>
	<title>Registro</title>
	<link rel="stylesheet" type="text/css" href="aplication.scss">
	<link rel="stylesheet" href="assets/stylesheets/devise.css">
	<link rel="javascripts" href="assets/stylesheets/application.js">

</head>
<body id="index-fondo">

<div class="alert alert-danger alert-dismissible" role="alert">
  <button class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  asdasdasdasdasd
</div>


	<div class="formulario-reg">
		<h3>Registrate</h3>

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :onsubmit => "checkear()" }) do |f| %>
			<%= devise_error_messages! %>

<!-- document.getElementById("error_explanation").className = "alert alert-danger"; -->
<% 
=begin %>
			<% if f.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(f.errors.count, "error") %> prohibited this article from being saved:</h2>
 					<ul>
						<% @article.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
<% 
=end %>

			<script src="checkeador.js"></script>
			<div class="form-group input-group">
				<label class="sr-only">Email</label>
				<span class="input-group-addon">
					<i class="fa fa-envelope"></i> <%= f.label :email %>
				</span>
				<%= f.email_field :email, autofocus: true, placeholder: 'Ingrese su mail', class: 'form-control' %>
			</div>
			<br>
			<div class="cont-center">
			<div class="form-group input-group">
				<label class="sr-only">Contraseña</label>
				<span class="input-group-addon">
					<i class="fa fa-key"></i> <%= f.label 'Contraseña' %>
				</span>
				<%= f.password_field :password, autocomplete: "off", placeholder: '7 caracteres como minimo', class: 'form-control'%>
			</div>
			</div>
			<br>
			<div class="form-group input-group">
				<label class="sr-only">Confirmar contraseña</label>
				<span class="input-group-addon">
					<i class="fa fa-key"></i> <%= f.label 'Contraseña' %>
				</span>
				<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Repetir contraseña', class: 'form-control'%>
			</div>
			<br>

			<div class="form-group input-group">
				<label class="sr-only">Nombre</label>
				<span class="input-group-addon">
					<i class="fa fa-user"></i> <%= f.label :nombre %>
				</span>
				<%= f.text_field :nombre, placeholder: 'Ingrese su nombre', class: 'form-control' %>
			</div>

			<div class="form-group input-group">
				<label class="sr-only">Apellido</label>
				<span class="input-group-addon">
					<i class="fa fa-user"></i> <%= f.label :apellido %>
				</span>
				<%= f.text_field :apellido, placeholder: 'Ingrese su apellido', class: 'form-control' %>
			</div>

			<div class="form-group input-group">
				<label class="sr-only">Telefono</label>
				<span class="input-group-addon">
					<i class="fa fa-phone"></i> <%= f.label :telefono %>
				</span>
				<%= f.text_field :telefono, :pattern => '[0-9]{10,16}' ,placeholder: 'Ingrese 10 a 16 numeros, con caracteristica', class: 'form-control' %>
			</div>

			<div class="form-group input-group">
				<label class="sr-only">Sexo</label>
				<span class="input-group-addon">
					<i class="fa fa-venus-mars"></i> <%= f.label :sexo %>
				</span>
				<%= f.select :sexo, [["Hombre", 1], ["Mujer", 0]], {}, {class: 'form-control'} %>
			</div> 

			<div class="form-group input-group">
				<label class="sr-only">País</label>
				<span class="input-group-addon">
					<i class="fa fa-globe"></i> <%= f.label :pais %>
				</span>
				<%= f.country_select :pais, {}, {class: 'form-control'} %>
			</div>

			<br>
			<div class="form-group input-group">
				<label class="sr-only">Fecha de nacimeinto</label>
				<span class="input-group-addon">
					<i class="fa fa-birthday-cake"></i> <%= f.label 'Nacimiento' %>
				</span>
				<%= f.date_field :fecha_nacimiento, class: 'form-control'%>
			</div>
			<br>

			<div class="checkbox" id="Acepto1">
				<label>
					<input type="checkbox" for ="Acepto1"/>
						Acepto los <%= link_to "Terminos y condiciones", @pagTerms%>, y estoy de acuerdo con las <%= link_to "Politicas de privacidad", @pagPrivacy%>.<br>
					</label>
			</div>

			<br>
			<div class="actions">
				<%= f.submit "Registrar", :class => 'btn btn-default actions'%>
			</div>
			<br>

		<% end %>
	</div>

</body>
</html>